.categories {
  padding-top: 20px;
  display: grid;
  width: calc(3 * 8px + 4 * 100px);
  margin: auto;
  margin-bottom: 8px;
  grid-template-columns: auto;
  gap: 8px;
  border: none;
}

.category {
  height: 80px;
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
}

.category p {
  font-size: 16px;
  line-height: 6px;
}

.category p:first-child {
  font-weight: 700;
  padding-top: 5px;
}

.difficulty1 {
  background-color: rgb(249, 223, 109);
}

.difficulty2 {
  background-color: rgb(160, 195, 90);
}

.difficulty3 {
  background-color: rgb(176, 196, 239);
}

.difficulty4 {
  background-color: rgb(186, 129, 197);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .categories {
    width: calc(3 * 8px + 4 * 125px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .categories {
    width: calc(3 * 8px + 4 * 150px);
  }
}