.board {
  display: grid;
  margin: auto;
  padding: 20px;
  border: none;
  width: calc(3 * 8px + 4 * 150px);
  grid-template-columns: auto auto auto auto;
  gap: 8px;
}

.card {
  background-color: rgb(239, 239, 230);
  width: 150px;
  height: 80px;
  border-radius: 6px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}