.mistakes {
  margin: auto;
  width: auto;
  text-align: center;
  padding: 20px;
}

.mistakes p {
  display: inline-block;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: rgb(90, 89, 78);
  border-radius: 50%;
  display: inline-block;
  vertical-align: text-top;
  margin: 0 3px;
}
