
.tile {
  background-color: white;
  border: solid 1px black;
  border-left: none;
  text-align: center;
  width: 10px;
  border: solid 0.7px black;
  height: 12px;
  font-size: 0.75em;
  text-transform: uppercase;
}

.tile:first-of-type {
  border-left: solid 1px black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tile:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wordle {
  background-color: black;
  color: white;
  border: solid 0.7px white;
}

.crossword  {
  color: black;
}

.reveal {
  color: tomato;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tile {
    width: 14px;
    height: 16px;
    font-size: 0.8em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tile {
    width: 16px;
    height: 18px;
    border: solid 1px black;
  }

  .wordle {
    border: solid 1px white;
  }
}