.button {
  height: 3em;  
  border-radius: 32px;
  padding: 15px;
  background-color: white;
  border: solid 1px black;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 5px;
}

.xword {
  margin-left: 20px;
}

.button:not([disabled]):hover, .primary.button:not([disabled]) {
  background-color: black;
  color: white;
}

