.crossword {
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
}

.crossword .cell {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  text-align:center;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0px;
}

.cell.solved {
  background-color: #a7d8ff;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .crossword {
    grid-template-columns: repeat(auto-fill, 60px);
  }

  .crossword .cell {
    font-size: 36px;
  }
}
