.puzzle {
  min-width: 90%;
  height: 800px;
  grid-template-columns: repeat(auto-fill, 50px);
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.puzzle header {
  border-bottom: solid 1px black;
  margin-bottom: 0px;
  display: grid;
  grid-template: auto 70px;
}

.puzzle header section {
  display: grid;
  grid-template-columns: auto 50px;
}

.title {
  text-transform: capitalize;
  padding-left: 14px;
}

.instructions {
  padding-left: 1em;
}

.puzzle fieldset {
  border: none;
}

.closeBtn {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border: none;
  font-size: 2em;
  cursor: pointer;
  justify-self: right;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .puzzle {
    min-width: 95%;
    max-width: 652px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .puzzle {
    min-width: 85%;
    max-width: 800px;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .puzzle {
    min-width: 800px;
  }
}
